/*
File:		custom.css
Child Theme:	Simplistic 
Description:	Custom styles for Thesis
Author:		Puneet Sahalot
Author URI: 	http://icustomizetheis.com/
More Info:	http://diythemes.com/thesis/rtfm/custom-css/
*/

/* page container */
.custom #container { border-right:solid 1px #ddd; border-left:solid 1px #ddd;}

/* header */
.custom #header {border-bottom:solid 1px #ddd;padding-top:1.2em;}
.custom #logo, .custom #logo a {margin-bottom:0.5em; font-weight:normal;}
.custom #header #tagline {    font-size: 1.6em; }

/* navigation */
.custom .menu {border-left:none;}
.custom .menu > li > a {background:#fff; border-top:none; border-bottom:none;}
.custom .menu > li > a:hover {background:#ddd;}
.custom .menu > li {margin-bottom:0;}
.custom .menu li ul { margin-top: 0; }
.custom .menu a:hover {-moz-transition:background linear 200ms; -webkit-transition:background linear 200ms; -khtml-transition:background linear 200ms; -o-transition:background linear 200ms; transition:background linear 200ms;}
.custom a:hover {-moz-transition:color linear 200ms; -khtml-transition:color linear 200ms; -webkit-transition:color linear 200ms; -o-transition:color linear 200ms; transition:color linear 200ms;}


/* teasers */
.custom .teaser h2 {text-align:left;font-weight:bold;margin-top:10px;}
.custom .teaser h2 a {color:#2288BB;}
.custom .teaser { background:url(images/arrow.png) no-repeat 59em 1em; width: 100%; margin-top: 2em; border-bottom: 1px solid #ddd; float:left; padding-bottom: 2em; padding-right:1em; padding-left:1em; position:relative; text-align: justify;}
.custom .teasers_box {  padding-top: 0;   padding-bottom:0;  border-top: 0; margin-right:0; margin-left:0; width:61.2em; }
.custom .teaser .teaser_date {  background: #bbb; color: #fff; margin-left: -11px;  padding: 2px 8px; letter-spacing:3px; text-transform:capitalize;}
.custom .format_text {line-height:1.7em;}
.custom .format_text p a {text-decoration:none;}
.custom .format_text p a:hover {-moz-transition:color linear 200ms; -khtml-transition:color linear 200ms; -webkit-transition:color linear 200ms; -o-transition:color linear 200ms; transition:color linear 200ms; color:#666; text-decoration:none;}
.custom a.teaser_comments {color:#2288BB;border:none;}

/* sidebars */
.custom .sidebar h3 {  font-variant: normal; letter-spacing: 0;  text-transform: none;}

/* previous next link */
.custom .prev_next {border:none;}

/*  single posts */
.custom .headline_meta span, .custom .headline_meta abbr {  background: #bbb; color: #fff; letter-spacing: 3px; margin-left: -11px;    padding: 2px 8px;   text-transform: capitalize;}
.custom .headline_meta {margin-bottom:1em;}

/* footer */
.custom #footer {border-top: 1px solid #ddd; padding:1em 0;}
.custom #footer a {border:none; color:#555;}
.custom #footer a:hover {color: #222; text-decoration:none;}
.custom #copyright-text p {padding:0 1em;}

/* footer widgets */
.custom #footer_setup {width:auto; padding: 0 1em 1em; overflow: hidden; line-height: 20px; font-size: 13px; border-bottom:solid 1px #ddd; margin-bottom:1em; }
.custom #footer_setup .footer_items1,.footer_items2,.footer_items3 {text-align: left; width:31%; display: inline-block; float: left; margin-right: 30px; font-variant:normal;}
.custom #footer_setup .footer_items3 {margin-right: 0;}
.custom #footer_setup h3 {padding: 5px 0; margin-bottom: 5px;}
.custom #footer_setup .footer_items1 ul li,.footer_items2 ul li,.footer_items3 ul li,.footer_items4 ul li { list-style: none; }
.custom #footer_setup .footer_items1 ul,.footer_items2 ul,.footer_items3 ul,.footer_items4 ul { margin: 0px; padding: 0px; }